[submodule "vendor/github.com/onsi/ginkgo"]
	path = vendor/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo.git
	branch = master
[submodule "vendor/github.com/onsi/gomega"]
	path = vendor/github.com/onsi/gomega
	url = https://github.com/onsi/gomega.git
	branch = master
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
	branch = v2
[submodule "vendor/github.com/cloudfoundry-community/go-cfenv"]
	path = vendor/github.com/cloudfoundry-community/go-cfenv
	url = https://github.com/cloudfoundry-community/go-cfenv.git
	branch = master
[submodule "vendor/github.com/mitchellh/mapstructure"]
	path = vendor/github.com/mitchellh/mapstructure
	url = https://github.com/mitchellh/mapstructure.git
